/* Reusable Components */

/* Buttons */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-md) var(--spacing-3xl);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    border-radius: var(--radius-full);
    transition: all var(--transition-base);
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background: linear-gradient(89.97deg, #D8663A 0.03%, #F8DA49 162.44%);
    color: var(--color-white);
}

.btn--primary:hover {
    background: linear-gradient(89.97deg, #df835f 0.03%, #e7d061 162.44%);
    transform: translateY(-2px);
    box-shadow: var(--shadow-lg);
}

.btn--cta {
    background: linear-gradient(89.97deg, #D8663A 0.03%, #F8DA49 162.44%);
    color: var(--color-white);
    padding: var(--spacing-md) var(--spacing-lg);
    font-size: var(--font-size-2xl);
    gap: var(--spacing-xl);
    border-radius: 10px;
}

.btn--cta:hover {
    background: linear-gradient(89.97deg, #b9481b 0.03%, #eacc37 162.44%);
    transform: translateY(-1px);
    box-shadow: var(--shadow-lg);
}


.btn--submit {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 16px 80px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}

.btn--submit:hover {
    background-color: var(--color-primary-dark);
}

/* Badges */
.badge {
    display: inline-flex;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-lg);
}

.badge--price {
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: var(--font-size-2xl);
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: 50px 20px 50px 20px;
    font-weight: var(--font-weight-bold);
}

.badge__text {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
}

/* Labels */
.label {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-2xl);
    border-radius: var(--radius-md);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    box-shadow: 0px 4px 10px 0px #00000040;
}

.label--yellow {
    background-color: var(--color-accent);
    color: var(--color-dark);
}

.hero__label__icon {
    position: absolute;
    top: 100;
    left: 0;
    transform: translate(50%, -50%);
}


/* Campaign Banner */

.campaign-banner {
    background-color: var(--color-primary);
    padding: var(--spacing-5xl) 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


.campaign-banner::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 350px 0 0 250px;
    border-color: transparent transparent transparent #E47347;
}

.campaign-banner::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 350px 250px;
    border-color: transparent transparent #E47347 transparent;
}

.campaign-banner__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
    z-index: 1;
}


.campaign-banner__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.campaign-banner__badge_wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.campaign-banner__badge {
    background-color: #F8DA49;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #00000040;
    font-size: 22px;
    font-weight: bold;
    color: var(--color-primary);
}


.campaign-banner__title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight:bold;
    line-height: 1.3;
}

.campaign-banner__button {
    background-color: #FFFFFF;
    color: var(--color-primary);
    padding: 16px 38px;
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    transition: all 0.25s ease;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #00000040;
}

.campaign-banner__button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.campaign-banner__arrow {
    color: var(--color-primary);
    font-size: 26px;
}

/* Problem Card */
.problem-card {
    background-color: var(--color-white);
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000040;
    transition: transform var(--transition-base), box-shadow var(--transition-base);
}

.problem-card:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-lg);
}

.problem-card__header {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: var(--spacing-sm) var(--spacing-lg);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.problem-card__list {
    padding: var(--spacing-xl);
    font-size: 17px;
    font-weight: var(--font-weight-medium);
}

.problem-card__list li {
    position: relative;
    padding-left: var(--spacing-lg);
    margin-bottom: var(--spacing-md);
}

.problem-card__list li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: var(--color-dark);
    font-weight: var(--font-weight-bold);
}

/* Solution Card */
.solution-card {
    background-color: var(--color-white);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    padding: var(--spacing-2xl);
    box-shadow: 0px 0px 10px 0px #00000040;
    margin-bottom: var(--spacing-2xl);
}

.solution-card__header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    gap: 10px;
}

.solution-card__number {
    background-color: #F9E8DB;
    color: var(--color-primary);
    padding: 1px 15px;
    border-radius: 5px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
}

.solution-card__content {
    display: flex;
    gap: var(--spacing-3xl);
    align-items: center;
}

.solution-card__text {
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}


/* Solution Features */
.solution-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-xl);
    margin-top: var(--spacing-3xl);

}

.solution-feature {
    background-color: var(--color-white);
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000040;
    transition: transform var(--transition-base), box-shadow var(--transition-base);
}

.solution-feature:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.solution-feature__header {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.solution-feature__number {
    background-color: #F9E8DB;
    color: var(--color-primary);
    padding: 1px 15px;
    border-radius: 5px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
}

.solution-feature__title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: 1.3;
}

.solution-feature__body {
    padding: 20px;
    background-color: var(--color-white);
}

.solution-feature__text {
    color: var(--color-dark);
    line-height: var(--line-height-relaxed);
    margin: 0;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}



/* Pricing Table */
.pricing-table {
    width: 100%;
    box-shadow: var(--shadow-md);
    overflow: hidden;
    border-radius: 10px;
}

.pricing-table__header {
    background-color: #F6F6F6;
    padding: var(--spacing-sm);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    text-align: center;
    border: 2px solid #D9D9D9;
    border-radius: 3px 3px 0 0;
}

.pricing-table__header--highlight {
    background-color: #E9AD88;
    color: var(--color-white);
}

.pricing-table__header--dark {
    background-color: #863126;
    color: var(--color-white);
}

.pricing-table__cell {
    padding: var(--spacing-sm);
    text-align: center;
    border: 2px solid #D9D9D9;
    background-color: var(--color-white);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
}

.pricing-table__cell--highlight {
    background-color: #F6F6F6;
}



/* Pricing Detail Table */
.pricing-detail-table {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000040;
}

.pricing-detail-table__header {
    background-color: #E2893F;
    padding: var(--spacing-lg) var(--spacing-sm);
    font-weight: var(--font-weight-bold);
    text-align: center;
    border: 2px solid #D8663A;
    font-size: var(--font-size-lg);
    color: white;
}

.pricing-detail-table__header--light {
    background-color: #E2893FEB;
}


.pricing-detail-table__cell {
    padding: var(--spacing-lg) var(--spacing-sm);
    text-align: center;
    border: 2px solid #D8663A;
    background-color: var(--color-white);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    color: #000000;
}

.pricing-detail-table__cell_dark {
    background-color: #FCF5F0;
    color: #E2893F;
}


/* Pricing Example Boxes */
.pricing__example-box {
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    padding: 24px 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #00000040;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    width: 312px;
    height: 122px;
}


.pricing__example-plus {
    width: 32px;
    height: 32px;
}

.pricing__example-arrow {
    width: 32px;
    height: 32px;
}

.pricing__example-result {
    background-color: #E2893F;
    border: 2px solid #D8663A;
    color: var(--color-white);
    border-radius: 10px;
    padding: 24px 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #00000040;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    width: 312px;
    height: 122px;
}


/* Cost Card */
.cost-card {
    background-color: var(--color-white);
    border: 2px solid var(--color-secondary);
    border-radius: var(--radius-md);
    box-shadow: 0px 0px 10px 0px #00000040;
    padding: 10px 10px 20px 10px;
    transition: transform var(--transition-base), box-shadow var(--transition-base);
}

.cost-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.cost-card__title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    text-align: center;
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: 5px;
    margin-bottom: var(--spacing-xl);
}

.cost-card__content {
    padding: var(--spacing-3xl) var(--spacing-xl);
}

.cost-card__savings {
    text-align: center;
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);
    margin-bottom: var(--spacing-md);
}

.cost-card__savings_number {
    color: #601A09;
}

.cost-card__comparison {
    display: flex;
    align-items:end;
    justify-content: center;
    gap: var(--spacing-xl);
}

.cost-card__before_wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}

.right_arrow {
    width: 25px;
    height: 25px;
}

.cost-card__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}

.cost-card__label {
    background-color: #601A09;
    color: var(--color-white);
    padding: var(--spacing-xs) var(--spacing-lg);
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    min-width: 140px;
    text-align: center;
}

.cost-card__box {
    background-color: var(--color-secondary);
    border-radius: 0 0 var(--radius-md) var(--radius-md);
    padding: var(--spacing-3xl) var(--spacing-2xl);
    min-width: 140px;
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cost-card__work {
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    text-align: center;
    font-size: var(--font-size-base);
    line-height: 1.6;
}



/* Feature Card */
.feature-card {
    width: 100%;
    max-width: 380px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000040;
    background-color: #FFFFFF;
}

.feature-card__header {
    background-color: var(--color-primary);
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.feature-card__title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    margin: 0;
}

.feature-card__body {
    padding: 25px 23px;
    background-color: #FFFFFF;
}

.feature-card__text {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
}




/* Integration Column */
.integration-column {
    text-align: center;
}

.integration-column__header {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 20px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    border-radius: 5px;
}

.integration-column__logos {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: 10px;
    background-color: var(--color-white);
    border: 2px solid var(--color-secondary);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000040;
}

.integration-logos__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: 0 20px 10px;
}

.integration-logo {
    height: 40px;
    object-fit: contain;
}

/* ===== Comparison Section ===== */

.comparison__wrapper {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.comparison-table--main {
    flex: 1;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
}

.comparison-table__header {
    background-color: #336E6D;
    color: #FFFFFF;
    padding: 10px 24px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #D9D9D9
}

.comparison-table__header--label {
    background-color: #F4F9F8;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.comparison-table__header--label1 {
    border-radius: 10px 0 0 0;
    overflow: hidden;
    border-left: none;
    border-top: none;
}


.comparison-table__cell {
    padding: 24px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    border: 2px solid #D9D9D9;
    background-color: #FFFFFF;
}

.comparison-table__cell--label {
    background-color: #D9EEEB;
    font-weight: 700;
    text-align: center;
    color: #336E6D;
    border: 2px solid #FFFFFF
}

.comparison-table__cell--label2 {
    border-radius: 10px 0 0 0;
    overflow: hidden;
    border-left: none;
    border-top: none;
}

.comparison-table--main tbody tr:last-child .comparison-table__cell {
    border-bottom: none;
}

.comparison-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 2px solid #292D32;
    border-radius: 50%;
    font-size: 0;
    background-color: transparent;
}

.comparison-icon--highlight {
    border-color: #FFFFFF;
    background-color: transparent;
    position: relative;
}

.comparison-icon--highlight::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
}

.comparison-highlight {
    width: 200px;
    border: 6px solid #4A9C99;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000040;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #4A9C99;
}

.comparison-highlight__header {
    background-color: #336E6D;
    border: 4px solid #FFFFFF;
    border-radius: 10px 10px 0 0;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 58px;
}

.comparison-highlight__logo {
    max-width: 120px;
    height: auto;
    border-radius: 4px;
}

.comparison-highlight__cell {
    background-color: var(--color-secodary);
    padding: 24px 6px;
    border: 3px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 73px;
}

.comparison-highlight__cell--last {
    border-radius: 0 0 10px 10px;
}

.comparison-highlight__price {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}



/* Flow Step */

.flow-step {
    margin-bottom: var(--spacing-4xl);
}

.flow-step__header {
    display: flex;
    gap: 40px;
}
.flow-step__number {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    font-size: 18px;
}

.flow-step__title {
    color: #0D0B26;
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-lg);
}

.flow-step__description {
    display: flex;
    gap: 40px;
    align-items: center;
}

.flow-step__icon {
    width: 80px;
    height: 80px;
}

.flow-step__text {
    box-shadow: 0px 0px 10px 0px #00000040;
    padding: 15px 30px;
    background-color: white;
    color: #0D0B26;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
}

.flow-step__line {
    margin-left:38px;
    margin-top: 40px;
}



/* Case Study Card */
.case-card {
    background-color: var(--color-white);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000040;
    padding: 10px;
}

.case-card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.case-card__content {
    padding: 10px;
}

.case-card__badge {
    display: inline-block;
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 15px;
}

.case-card__title {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-md);
    color: #0D0B26;
}

.case-card__description {
    font-size: 15px;
    font-weight: 400;
    color: #0D0B26;
}


/* Form */
.form__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__group--full {
    margin-bottom: var(--spacing-xl);
}

.form__label {
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-sm);
    color: var(--color-dark);
}

.form__input,
.form__textarea {
    padding: 15px 24px;
    border: 2px solid #E7E7E7;
    background-color: #F6F6F6;
    border-radius: 10px;
    font-size: var(--font-size-lg);
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border-color: var(--color-primary);
}


.form__textarea {
    resize: vertical;
    min-height: 120px;
}

.form__privacy {
    margin-bottom: var(--spacing-3xl);
}

.form__privacy-title {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-md);
}

.form__privacy-title2 {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-md);
}

.form__privacy-content {
    font-size: 16px;
    font-weight: 500;
    line-height: var(--line-height-relaxed);
}

.form__checkbox {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-sm);
    cursor: pointer;
    margin-bottom: var(--spacing-md);
}

.form__checkbox input[type="checkbox"] {
    margin-top: 4px;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
}

.form__privacy-link {
    color: var(--color-dark);
}

.form__submit {
    text-align: end;
}